

<%= content_for :extra_css do %>
<%= stylesheet_link_tag "bookmarksindex" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />



			
			<%@logged_in_user=User.find(current_user.id)%>

<div id="boomarkscontent">
		<h1 id="bookmarksheading">	<span id="bookmarksname" ><%=@user_current.profile.name%>'s </span> Bookmarks</h1>
					<strong>Total Bookmarks : </strong> <%= @user_current.bookmarks.count %> <br />
					
					<% if @user_current == @logged_in_user  %>
					
					<%= link_to "Create a new Bookmark","javascript:(function(){f='"+root_url+"bookmarks/create?&v=5&';a=function(){if(!window.open(f+'noui=1&jump=doclose','deliciousuiv5','location=yes,links=no,scrollbars=no,toolbar=no,width=900,height=550'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()", :id=>"createnewbookmarlink" %><%end%>
					<br/><br />
					

						<% if friend_link( @user_current,@logged_in_user) == '3' || @user_current == @logged_in_user  %>
						<% if @user_current.bookmarks.empty? %>
						The user has not yet bookmarked anything!.
						<%else%>
						<table class="bookmarks" summary="User bookmarks" width="100%">
							 <%= render @bookmarks %>
						</table> <br />
					<span id="bookmarkpaginate">	<%= will_paginate @bookmarks %> </span> <br />
						 <% end %> 
						<%else%>
						Only friends can access <%= @user_current.profile.name%>'s bookmarks
			<%end%>
			
			
			</div>
			<br />
			<style>
			div.floating-menu {position:fixed;bottom:10px;background:#6b238e;border:1px solid #ffcc00;width:600px;z-index:100;-webkit-border-radius: 10px;
			  -moz-border-radius: 10px;
			  border-radius: 10px;}
			div.floating-menu a, div.floating-menu h3 {display:inline;margin:0 0.5em;}
			div.floating-menu a {color:#fff;padding:5px;}
			</style>
			<div class="floating-menu">
			<h3 style="color:#ff0">Quick Menu</h3>
			<%= link_to "Home",root_path %>
			<%= link_to "Communities",communities_index_path %>
			<%= link_to "Messages",mailbox_index_path %>
			<%= link_to "Code Hub","/codes/#{current_user.id}"%>
			<%= link_to "Bookmarks",bookmark_url(current_user.id),:id => current_user.id %> 

			</div>

		