<%= content_for :extra_css do %>
<%= stylesheet_link_tag "inboxshow" %>
<% end %>
<div id="inboxmsgshow">
<h2><%=h @message.subject %></h2>

<p><strong>From:</strong> <%=h User.find(@message.author.id).profile.name %></p>
<p><strong>To:</strong> <%=h User.find(@message.recipient_id).profile.name %></p>
<p><strong>Received:</strong> <%= @message.created_at.to_s(:long) %></p>
<div id="messagecontentbody">
<%=h @message.body %> </div>

<p><%= link_to "Reply", messages_reply_path+'/'+@message.id.to_s %>
	
  <%= link_to "Forward", messages_forward_path+'/'+@message.id.to_s %>
 <% unless @message.deleted %>
    <%= link_to "Delete", messages_destroy_path+'/'+@message.id.to_s %>
  <% else %>
    <%= link_to "Undelete", messages_undelete_path+'/'+@message.id.to_s, :method => "put" %>
<%= link_to "Delete Permanently", messages_delete_from_trash_path+'/'+@message.id.to_s,:method=>"put"%>
  <% end %>
</p>
</div>