<%= content_for :extra_css do %>
<%= stylesheet_link_tag "profileshow" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />

<div id="profilebody">
<h1 id="profilename"><%= @user.profile.name%> </h1>
<p><img src="/images/scholar.gif" class="scholarlogo">Is a <%= @user.profile.occupation %> <img src="/images/scholar.gif" class="scholarlogo">Lives in <%= @user.profile.location%>  <img src="/images/scholar.gif" class="scholarlogo">Born on <%= @user.profile.birthdate %></p> 
<hr id="profilehr"/>
<br />
<h3> About me </h3> <div id="bio_id"> <%= @user.profile.bio %> 
</div></div>

<div id="profimg">
	<%=image_tag @user.profile.image_url(:thumb).to_s,:id => "prof_img" %>
	</div>
	
	<%@logged_in_user=User.find(current_user.id)%>
	
	<% if user_signed_in? and @user != @logged_in_user %>
	 <div class="sidebar_box">
		<h2> <span class="header">Actions</span> <br clear="all" />
		</h2> <ul>
			 <li><%= friendship_status(@logged_in_user, @user) %>
		<% unless Friendship.exists?(@logged_in_user, @user) %> <br />
		
		<%= link_to "Request friendship with #{@user.profile.name}", { :controller => "friendship", :action => "create",:id =>@user.id }, :confirm => "Send friend request to #{@user.profile.name}?" %>
		<% end %> 
		</li>
		</ul> </div>
		<% end %>