<%= content_for :extra_js do %>

<% end%>
<%= content_for :extra_css do %>

<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />


<%= stylesheet_link_tag 'tipBoxStyle' %>

<%= stylesheet_link_tag "editaccount" %>
<% end %>

<div id="signup">
	<h6 id="a1">Edit your account </h6>
	


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>


  <p><%= f.label :email, :id => "label_email" %><br />
  <%= f.text_field :email %></p>

  <p id="label_password"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p id="label_confirm_password"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p id="label_current_password"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<h3 id="label_cancel">Cancel my account</h3>

<p id="label_unhappy">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back to Home page", :back, :id => "label_back"%></div>

<div id="alertmsg">  
<%= devise_error_messages! %>	

</div>