<%= content_for :extra_css do %>
<%= stylesheet_link_tag "searchresults" %>
<% end %>

<div id="search_results">
<h1>Search Results</h1>
<p>Your search matches <%= @search_items.count%> results.</p>






<% if @search_items.count==0 %>
No results found, Please try again.
<%else%>

<br/>
<% will_paginate @search_items%>
<% unless @search_items.empty? %> 

<table class="search_table">
<%= render :partial => 'shared/search_item', :collection => @search_items%>
 </table>
<% end %>
<%end%>	
	</div>
	<style>
	div.floating-menu {position:fixed;bottom:10px;background:#6b238e;border:1px solid #ffcc00;width:600px;z-index:100;-webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;}
	div.floating-menu a, div.floating-menu h3 {display:inline;margin:0 0.5em;}
	div.floating-menu a {color:#fff;padding:5px;}
	</style>
	<div class="floating-menu">
	<h3 style="color:#ff0">Quick Menu</h3>
	<%= link_to "Home",root_path %>
	<%= link_to "Communities",communities_index_path %>
	<%= link_to "Messages",mailbox_index_path %>
	<%= link_to "Code Hub","/codes/#{current_user.id}"%>
	<%= link_to "Bookmarks",bookmark_url(current_user.id),:id => current_user.id %> 

	</div>
	
