<%= content_for :extra_css do %>
<%= stylesheet_link_tag "sentindex" %>
<% end %>
<div id="sentbody">
    <h2 id="sentheading">Sent Messages</h2>

    <table border="0">
      <tr>
        <th width="30%" align="center">To</th>
        <th width="50%" align="center">Subject</th>
        <th width="30%" align="center">Sent</th>
      </tr>

      <% for message in @messages %>
        <tr>

<td align="center">
<%= User.find(message.recipient_id).profile.name %></td>
          <td align="center"><%= link_to h(message.subject), sent_path(message.id) %></td>
          <td align="center"><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
        </tr>
      <% end %>
    </table>
<br />
    <%= will_paginate @messages %>
</div>

