<%= content_for :extra_css do %>
<%= stylesheet_link_tag "composemessage" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div id="composebody">
<h2 id="composeheading">Compose</h2>

<% form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>
<p> To <br />

   <%= f.text_field :friend_tokens,:name=>"message[to][]" %> </p>
  <p>Subject <br /> <%= f.text_field :subject %></p>
  <p>Body <br /> <%= f.text_area :body %></p>
  <p><%= submit_tag "Send", :id=>"submit_button"%></p>
<% end %>

</div>
<br />