<%= content_for :extra_css do %>

<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />


<%= stylesheet_link_tag "resend" %>
<% end %>
<div class="wrapper">
<div id="header"><div id="logoname">Devolve</div></div>
<div id="signup">

	<h6 id="a1">Looks like you need some help?</h6>
	
	<p id="finish_signup">Let us help you find a solution.</p>



	<h3 id="h3_help">What's the problem you are experiencing?</h3>
	<ul id="problemList">
		<li>
		 			
			  <%= link_to "Forgot your password?", new_user_password_path %><br />
			
				</li>
					<li>

		
			  <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %><br />

				</li>
					<li>
		
			  <%= link_to "Didn't receive unlock instructions?", new_user_unlock_path %><br />
			
				</li>
		
	
  </ul>
