<%= content_for :extra_css do %>
<%= stylesheet_link_tag "trashmessage" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div id="trashbody">
<h2 id="trashheading"> Trash </h2>

<table border="0">
  <tr>
    <th width="30%" align="center">From</th>
    <th width="50%" align="center">Subject</th>
    <th width="30%" align="center">Received</th>
  </tr>

 
  <% for message in @messages %>
<%if message.deleted==true %>
    <tr>
	
      <td align="center"><%=h message.author.email %></td>
      <td align="center"><%= link_to h(message.subject), message_path(message) %></td>
      <td align="center"><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
    </tr>
<%end%>
  <% end %>
</table>
<br />
<%= will_paginate @messages %>
</div>
<br />