<%= content_for :extra_css do %>
<%= stylesheet_link_tag "eventsindex" %>
<% end %>
<div id="div_list">
<h1>Event list</h1>

<table>
  <tr>
    <th >Title</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>All day</th>
    <th>Description</th>
    <th class="displaynothing"></th>
    <th class="displaynothing"></th>
    <th class="displaynothing"></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td width="300px" align="center"><%= event.title %> </td>
    <td width="1000px" align="center"><%= event.starts_at %></td>
    <td width="1000px" align="center"><%= event.ends_at %></td>
    <td width="200px" align="center"><%= event.all_day %></td>
    <td width="300px" align="center"><%= event.description %></td>
    <td width="100px" align="center"><%= link_to 'Show', event %></td>
    <td width="100px" align="center"><%= link_to 'Edit', edit_event_path(event) %></td>
    <td width="100px" align="center"><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>

<% end %>
</table>

<br />
<%= link_to 'View calendar', calendar_index_path %> | 
<%= link_to 'New Event', new_event_path %>
</div>
<br />
