<%= content_for :extra_css do %>
<%= stylesheet_link_tag "eventsshow" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div id="event_display">
	<h2> Event Information </h2>
<p id="notice"><%= notice %></p>

<p>
  <b class="label">Title : </b>
 <span class="display"> <%= @event.title %> </span>
</p>

<p>
  <b class="label">Starts at : </b>
 <span class="display">  <%= @event.starts_at %> </span>
</p>

<p>
  <b class="label">Ends at : </b>
 <span class="display"> <%= @event.ends_at %> </span>
</p>

<p>
  <b class="label">All day : </b>
 <span class="display"> <%= @event.all_day %> </span>
</p>

<p>
  <b class="label">Description : </b>
  <span class="display"> <%= @event.description %> </span>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> 
</div>
