<table id="home_table"> 

	<% count=0%></th>
	
	

	
		<% current_user.friends.each do |friend| %> 
		<%if count==0%>
		<tr>
	
		<td width="50">

				<%=link_to image_tag(friend.profile.image_url.to_s,:width => "50",:title=>friend.profile.name,:alt=>friend.profile.name),profile_path(friend.id) %>
		</td> <%= link_to friend.profile.name, profile_path(friend.id) %>
		<% count+=1%>

			<%else%>
			
			<% if count == 1 %>
			
				
			<td width="50">

				<%=link_to image_tag(friend.profile.image_url.to_s,:width => "50",:title=>friend.profile.name,:alt=>friend.profile.name),profile_path(friend.id) %>
			</td> <%= link_to friend.profile.name, profile_path(friend.id) %>
			<% count+=1%>
		<%else%>
		
		<% if count ==2%>
		
		
		<td width="50">

			<%=link_to image_tag(friend.profile.image_url.to_s,:width => "50",:title=>friend.profile.name,:alt=>friend.profile.name),profile_path(friend.id) %>
		</td> <%= link_to friend.profile.name, profile_path(friend.id) %> 
		<%count+=1%>
		<%else%>
		
		
		
			<td width="50">

				<%=link_to image_tag(friend.profile.image_url.to_s,:width => "50",:title=>friend.profile.name,:alt=>friend.profile.name),profile_path(friend.id) %>
			</td> <%= link_to friend.profile.name, profile_path(friend.id) %> 
		</tr> 		
		<% count=0%>
		<%end%>
		<%end%>
		<% end %>
		<% end %>
		</table>
