	<ul id="user_menu_request">
		<%  @user=User.find(current_user.id)%>

	<% if @user.requested_friends.empty? %>

		<%= "You don't have new friend requests" %>
				<%else%>
		<%= "You've "+pluralize(@user.requested_friends.count, "new friend request") %> 
		
	<% @user.requested_friends.each do |requester| %>
			<li>	
				<table> <tr>
					<td width="30">
				<%= image_tag requester.profile.image_url(:small).to_s,:width => "20" %></td><td width="70"><%= link_to requester.profile.name, profiles_path(requester) %></td><td>       </td><td width="60"><%= button_to "Accept", :controller => "friendship", :action => "accept", :id => requester.id  %> 
								</td><td> <%= button_to "Decline", { :controller => "friendship", :action => "decline",
							:id => requester.id }, :confirm => "Really decline friendship with #{requester.profile.name}?" %> 	</td> </tr></table></li>
							<%end%>
						
							<%end%>
							
							
								</ul>