

<%= content_for :extra_css do %>
<%= stylesheet_link_tag "profileshow" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />

<h1><%=@code_of.title%></h1>
<h3>Written by <%=@user_current.profile.name%></h3>
<h4>Language: <%=@code_of.langauge%></h4>



<br/>
<br/>
<br/>
<hr>
<h3>CODE</h3>
<%=@code_of.content%>
<hr>
<h3>Description</h3>
<%=@code_of.description%>

Share using link: <%= link_to root_url+"codes/#{@user_current.id}/#{@code_of.id}",root_url+"codes/#{@user_current.id}/#{@code_of.id}"%>

<%= link_to "delete",code_url(@code_of.id),:id => @code_of.id,:method=>:delete,:confirm => "You sure?" %>