<%= content_for :extra_css do %>
<%= stylesheet_link_tag "communityindex" %>
<% end %>
<br />
<div id="community">
<h1>Communities</h1>

<%= link_to "create a new community" , communities_create_path%>
<h3>My owned Communities</h3>
<%if @community.count==0%>
You have not created any communities yet!
<%end%>
  <% for commu in @community%>

	<%= image_tag commu.commuimage_url.to_s,:width=>80%>
	<%= link_to commu.name , { :controller => "communities", :action => "show",:id =>commu.id }%>

<br/>
<%end%>

<h3>My Communities</h3>
<%count=0%>
<% for commu in @member_community%>

	<% if Commu.find(commu.commu_id).user_id!=current_user.id %>
	<%count+=1%>
	<%= image_tag Commu.find(commu.commu_id).commuimage_url.to_s,:width=>40%>
	<%= link_to Commu.find(commu.commu_id).name, { :controller => "communities", :action => "show",:id =>commu.commu_id }%>
<%end%>
<br/>
<%end%>
<% if count==0%>
You have not joined any communities yet!
<%end%>
</div>
<br />
<style>
div.floating-menu {position:fixed;bottom:10px;background:#6b238e;border:1px solid #ffcc00;width:600px;z-index:100;-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;}
div.floating-menu a, div.floating-menu h3 {display:inline;margin:0 0.5em;}
div.floating-menu a {color:#fff;padding:5px;}
</style>
<div class="floating-menu">
<h3 style="color:#ff0">Quick Menu</h3>
<%= link_to "Home",root_path %>
<%= link_to "Communities",communities_index_path %>
<%= link_to "Messages",mailbox_index_path %>
<%= link_to "Code Hub","/codes/#{current_user.id}"%>
<%= link_to "Bookmarks",bookmark_url(current_user.id),:id => current_user.id %> 

</div>

