
<%= javascript_include_tag 'profileshow' %>
<%= content_for :extra_css do %>
<%= stylesheet_link_tag "postnewform" %>
<% end %>
<%= render 'shared/error_messages', :object => @post %> <br />
<div id="postform">
	
<%= form_for :post,:url =>'/communities/create_post/'+params[:id] do |f| %>
<span id="addheading">Add a new post to
 <%= Commu.find(params[:id]).name%>  </span> <span id="communityowner">
Owned by <%= current_user.profile.name %> </span> <br/>
<%= f.label :Subject,:id => "title_lab" %> <br />
	   
<%= f.text_field :title,:required=>"required",:class=>"inputValue" %><br/> <br />


<%= f.label :Message,:id => "body_lab" %> <br />
<%= f.text_area :body,:maxlength=>"1024",
:onkeyup=>"CheckFieldLength(post_body, 'charcount', 'remaining', 1024);",:onkeydown=>"CheckFieldLength(post_body, 'charcount', 'remaining', 1024);", :onmouseout=>"CheckFieldLength(post_body, 'charcount', 'remaining', 1024);"%>
<small style="display: block; color: green; "><span id="charcount" style=" color: green; ">0</span> characters entered.   |   <span style=" color: green; " id="remaining" >1024</span> characters remaining.</small><br/>


<%= f.submit "Submit" %> 


<% end %>
<br />
<%= button_to "Cancel", "/communities/"+params[:id],:id=>"button_cancel"%> 
<br />
</div>