<%= content_for :extra_css do %>
<%= stylesheet_link_tag "postshow" %>
<% end %>


	
	
	<div id="profilebody">

		<div id="profimg">


			<%= image_tag @commu.commuimage_url.to_s,:id=>"home_img"%><br/>
       <h2 id="communame"><%= @commu.name%></h2>

						</div>

	 </div>
	

	<div id="micropostcontainer">
	<div id="innercontainer">
		<h4 id="profilename" style="display:inline;"><%= @post.title%></h4><br/>
		<br/>
				<%= link_to "Back to Forum", { :controller => "communities", :action => "show",:id =>@post.commu_id }%>
	<hr>
<table>
	 <%= render @comments %>
	</table>
	<%= will_paginate @comments %>
	<br/>

<hr>




	<%if @post.user_id==current_user.id%>

	<%= link_to "Delete Post", { :controller => "communities", :action => "deletepost",:id =>@post.id }%>
	<%end%>

		<%= link_to "Reply to Post", { :controller => "communities", :action => "newcomment",:id =>params[:id] }%>
		<span style="margin-left:320px">
				<%= link_to "Back to Forum", { :controller => "communities", :action => "show",:id =>@post.commu_id }%></span>
		<br/>		<br/>		<br/>
		</div>
		</div>
		<style>
		div.floating-menu {position:fixed;bottom:10px;background:#6b238e;border:1px solid #ffcc00;width:600px;z-index:100;-webkit-border-radius: 10px;
		  -moz-border-radius: 10px;
		  border-radius: 10px;}
		div.floating-menu a, div.floating-menu h3 {display:inline;margin:0 0.5em;}
		div.floating-menu a {color:#fff;padding:5px;}
		</style>
		<div class="floating-menu">
		<h3 style="color:#ff0">Quick Menu</h3>
		<%= link_to "Home",root_path %>
		<%= link_to "Communities",communities_index_path %>
		<%= link_to "Messages",mailbox_index_path %>
		<%= link_to "Code Hub","/codes/#{current_user.id}"%>
		<%= link_to "Bookmarks",bookmark_url(current_user.id),:id => current_user.id %> 

		</div>

	