<!DOCTYPE html>
<html>
<head>
  <title>Devolve</title>
  <%= stylesheet_link_tag "custom" %>
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'rails' %>
<%= javascript_include_tag 'application' %>



  <%= csrf_meta_tag %>
	<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />
	
</head>
<body>
    
<%= yield %>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

</body>
</html>
