<!DOCTYPE html>
<html>
<head>
  <title>Devolve</title>
  <%= stylesheet_link_tag "custom" %>
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'rails' %>
<%= javascript_include_tag 'application' %>
<%= yield :extra_js %>
<%= yield :extra_css %>

<%= csrf_meta_tag %>



	
	
</head>
<body>
    
<%= yield %>
<div id="alertmsg">
<p class="notice" ><%= notice %></p>
 <p class="alert" id="flash_error"><%= alert %></p>
</div>
</body>
</html>
