<!DOCTYPE html>
<html>
<head>
  <title>Devolve</title>
  <%= stylesheet_link_tag "custom" %>
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'rails' %>
<%= javascript_include_tag 'application' %>



<!-- events -->
<%= stylesheet_link_tag "fullcalendar.css" %>
<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "jquery.rest.js" %>
<%= yield :extra_js%>
<%= yield :extra_css%>
<!-- these are needed for the calendar. -->
<%= javascript_include_tag "jquery-ui-1.8.11.custom.min.js" %>
<%= javascript_include_tag "fullcalendar.js" %>
<%= javascript_include_tag "calendar.js" %>


<%= csrf_meta_tag %>  

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<!-- events end-->


	
	
</head>
<body>
	<%	if (current_user  && current_user.getting_started == false) %>
	<div id="header"><div id="logoname" ><%=link_to "Devolve" ,root_path ,:id=>"link_devolve"%>
		
		</div>
		<div id="searchform">
		<%= form_for :search,:url =>{:controller=>'search',:action=> 'index'} do |f| %>

		<fieldset class="search">
			<%= f.text_field :query ,:class=>"box"%>
			<button class="btn" title="Submit Search">Search</button>
		</fieldset>
		
		
		<% end %>
		</div>
	

	
	
	
	
	
	<ul id="user_menu">

	        	<%=image_tag current_user.profile.image_url.to_s,:class=>"avatar"  %>

	
	
	<%= link_to current_user.profile.name, '#' %>
      <li> <%= link_to "view_profile", " /profiles/#{current_user.id}" %></li>
      <li> <%= link_to "edit_profile",  profiles_edit_path %> </li>
      <li> <%= link_to "account_settings", edit_user_registration_path %></li>
      <li> <%= link_to "logout", destroy_user_session_path %></li>
		<div class="right">
	       ▼
	</div>

	
    </ul>


	<%= render :partial => "friendship/friends" %>
<%end%>
	
<%= yield %>
<style>
div.floating-menu {position:fixed;bottom:10px;background:#6b238e;border:1px solid #ffcc00;width:600px;z-index:100;-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;}
div.floating-menu a, div.floating-menu h3 {display:inline;margin:0 0.5em;}
div.floating-menu a {color:#fff;padding:5px;}
</style>
<div class="floating-menu">
<h3 style="color:#ff0">Quick Menu</h3>
<%= link_to "Home",root_path %>
<%= link_to "Communities",communities_index_path %>
<%= link_to "Messages",mailbox_index_path %>
<%= link_to "Code Hub","/codes/#{current_user.id}"%>
<%= link_to "Bookmarks",bookmark_url(current_user.id),:id => current_user.id %> 

</div>


<div id="alertmsg">


	    <%= flash[:error] || flash[:success] %>
	
	
	
<%= notice %>
<%= alert %>
</div>

</body>
</html>
