
	<!DOCTYPE html>
	<html>
	<head>
	  <title>Devolve</title>
	  <%= stylesheet_link_tag "custom" %>
	<%= javascript_include_tag 'jquery',"jquery.tokeninput"%>
	<%= javascript_include_tag 'rails' %>
	<%= javascript_include_tag 'mail' %>

	<%= javascript_include_tag 'modernizr.min.js' %>

	
	<%= stylesheet_link_tag "mailbox","token-input","token-input-facebook" %>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<%= yield :extra_js %>
	<%= yield :extra_css %>

	<%= csrf_meta_tag %>






	</head>
	<body>
		<%	if (current_user  && current_user.getting_started == false) %>
		<div id="header"><div id="logoname" ><%=link_to "Devolve" ,root_path ,:id=>"link_devolve"%>

			</div>
			<div id="searchform">
			<%= form_for :search,:url =>{:controller=>'search',:action=> 'index'} do |f| %>

			<fieldset class="search">
				<%= f.search_field :query ,:class=>"box",:placeholder=>"Search",:autocomplete=>"off"%>
				<button class="btn" title="Submit Search">Search</button>
			</fieldset>


			<% end %>
			</div>







		<ul id="user_menu">

		        	<%=image_tag current_user.profile.image_url.to_s,:class=>"avatar"  %>



		<%= link_to current_user.profile.name, '#' %>
	      <li> <%= link_to "view_profile", " /profiles/#{current_user.id}" %></li>
	      <li> <%= link_to "edit_profile",  profiles_edit_path %> </li>
	      <li> <%= link_to "account_settings", edit_user_registration_path %></li>
	      <li> <%= link_to "logout", destroy_user_session_path %></li>
			<div class="right">
		       ▼
		</div>


	    </ul>


		<%= render :partial => "friendship/friends" %>
	<%end%>
	
  <%= render :partial => "layouts/mailbox_list" %>
	<%= yield %>
	<style>
	div.floating-menu {position:fixed;bottom:10px;background:#6b238e;border:1px solid #ffcc00;width:600px;z-index:100;-webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;}
	div.floating-menu a, div.floating-menu h3 {display:inline;margin:0 0.5em;}
	div.floating-menu a {color:#fff;padding:5px;}
	</style>
	<div class="floating-menu">
	<h3 style="color:#ff0">Quick Menu</h3>
	<%= link_to "Home",root_path %>
	<%= link_to "Communities",communities_index_path %>
	<%= link_to "Messages",mailbox_index_path %>
	<%= link_to "Code Hub","/codes/#{current_user.id}"%>
	<%= link_to "Bookmarks",bookmark_url(current_user.id),:id => current_user.id %> 

	</div>
	
	


	<div id="alertmsg">


		    <%= flash[:error] || flash[:success] %>



	<%= notice %>
	<%= alert %>
	</div>
	</body>
	</html>
